@font-face
	font-family: "GoogleSans-Regular"
	src: url("fonts/GoogleSans-Regular.woff") format("woff")

html, body
	padding: 0 !important
	margin: 0 !important
	width: 100% !important
	box-sizing: border-box
	font-family: "GoogleSans-Regular", sans-serif
	scroll-behavior: smooth

.navbar
	background: #124735
	align-content: center
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.navbar-brand p
	color: #ffffff

.navbar-brand img
	width: 87px

.navbar-nav ul li a
	color: #ffffff
	font-size: 80%

.nav-link
	color: #ffffff
	font-size: 90%

.navbar-toggler
	border: 0 !important

.rfbtn
	background-color: #256141
	border: 0

.claimHeader
	color: #256141 !important
	font-weight: bold

.fab
	font-size: 200%

.dropdown
	z-index: 3

.indiv-tag
		border-radius: 24px
		font-size: 70%

.tag-level
	align-items: center

.tag-recommended
	background-color: #4e77a2

.tag-index
	background-color: #b57250

.tag-dollar
	background-color: #71ae4d

.fundcards
	z-index: 5


@media (min-width: 300px)
	.detailimg, .previewimg
		width: 100%
		align-self: auto

@media (min-width: 520px)
	.detailimg, .previewimg
		width: 100%

@media (min-width: 720px)
	.detailimg, .previewimg
		width: 100%

@media (min-width: 900px)
	.detailimg, .previewimg
		width: 100%


.highcharts-credits
	display: none

.highcharts-title
	font-weight: bolder
	color: #256141 !important

.highcharts-title, .highcharts-range-selector, .highcharts-range-selector-group, .highcharts-input-group, .highcharts-xaxis-labels, .highcharts-yaxis-labels
	font-family:  "GoogleSans-Regular", sans-serif !important


.highcharts-a11y-proxy-button
	color: #256141


.goldHeader
	color: #ca9732
	font-weight: bold

#sticky, .sticky
	position: fixed
	right: 15px
	top: 85%
	transition: all 0.2s ease-in-out
	border-radius: 24px
	z-index: 1
	cursor: pointer
	box-shadow: 0 8px 8px -6px #3c3c3c

#sticky:hover, .sticky:hover
	transform: scale(1.1)

#sticky:active, .sticky:active
	transform: scale(1.1)
	

footer
	background-color: #124735
	height: 50px
	p
		padding-top: 15px
		margin-bottom: 0
		color: #ffffff !important



